body {
    background: linear-gradient(45deg, #1db954, #191414);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}
h1 {
    margin-bottom: 20px;
}
.buttons {
    display: flex;
}
a {
    display: inline-block;
    background: white;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    width: 150px; /* Set the same width for both buttons */
    text-align: center;
}
a:hover {
    background: #e0e0e0;
}